---
title: 归档
layout: page
no_duoshuo: true
---
<div>
  {% for post in site.posts %}
    {% capture ym %}{{ post.date | date:"%Y年%m月" }}{% endcapture %}
    {% if year != ym %}
      {% assign year = ym %}
      <li><a href="#{{ ym }}">{{ ym }}</a></li>
    {% endif %}
  {% endfor %}
</div>

<div class="post">
    <div>
        <ul>
            {% for post in site.posts %}
            {% capture ym %}{{ post.date | date:"%Y年%m月" }}{% endcapture %}
            {% if year != ym %}
            {% assign year = ym %}
            </ul>
            <hr>
            <h2 id="{{ ym }}">{{ ym }}</h2>
            <ul>
            {% endif %}
            <li>
              <time datetime="{{ post.date }}">{{ post.date | date:"%m 月 %d 日" }}</time>
              <a href="{{ post.url }}" title="{{ post.title }}">&nbsp;&nbsp;{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
