---
title: 标签
layout: page
no_duoshuo: true
---
<div>
    <div class="tags">
        {% for tag in site.tags %}
        <a href="#{{ tag[0] }}">{{ tag[0] }}({{ tag[1].size }})</a>
        {% endfor %}
    </div>
</div>

<div class="post">
    <div>
    {% for tag in site.tags %}
        <hr>
        <h2 id="{{ tag[0] }}">{{ tag[0] }}</h2>
        <ul>
            {% for post in tag[1] %}
            <li>
                <time datetime="{{ post.date }}">{{ post.date | date:"%Y 年 %m 月" }}</time>&nbsp;&nbsp;
                <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    {% endfor %}
    </div>
</div>