@charset "UTF-8";

h1, .h1,		
h2, .h2,		
h3, .h3,		
h4, .h4,		
h5, .h5,		
h6, .h6 {		
	font-weight: 200;		
}  
h1, .h1 {
	font-size: 1.5rem;
}

h2, .h2 {
	font-size: 1.4rem;
}

h3, .h3 {
	font-size: 1.2rem;
}

h4, .h4 {
	font-size: 1rem;
}

h5, .h5 {
	font-size: 0.9rem;
}

h6, .h6 {
	font-size: 0.8rem;
}

p, li {
	font-size: 1.0rem;
}

// Code style
pre {
	padding: 0.5em;
	font-size: 0.6em;	
}

.highlight {
	background-color: #23241f;
}

// Contact page submit button
.mobile-block {
	width: 100%;
}

textarea {
	resize: none;
}
// Related post
.related-post-container {
	margin-top: 3rem;
}

.related-post-summary {
	font-size: 0.6rem !important;
}

.footer, .site-wrap:after {
	height: 0;
}
.p2 {
	padding: 1rem;
}
.footer {
	margin-top: 150px;
}

table {
	margin: 16px 0;		
 	border-collapse: collapse;
}

th, td {
	border: 1px solid #aaa;		
 	padding: 5px;
 	font-weight: normal;
 	font-size: 16px;
}

.tags a {
	padding: 0 10px;
	font-size: 1rem;
}