@charset "UTF-8";

h1, .h1 {
	font-size: 1.5rem !important;
}

h2, .h2 {
	font-size: 1.4rem !important;
}

h3, .h3 {
	font-size: 1.2rem !important;
}

h4, .h4 {
	font-size: 1rem !important;
}

h5, .h5 {
	font-size: 0.9rem !important;
}

h6, .h6 {
	font-size: 0.8rem !important;
}

p, li {
	font-size: 1.0rem !important;
}

// Code style
pre {
	padding: 0.5em;
	font-size: 0.6em;	
}

.highlight {
	background-color: #23241f;
}

// Add paragraph indent


// Contact page submit button
.mobile-block {
	width: 100%;
}

textarea {
	resize: none;
}
// Related post
.related-post-container {
	margin-top: 3rem;
}

.related-post-summary {
	font-size: 0.6rem !important;
}

.footer, .site-wrap:after {
	height: 0;
}
.p2 {
	padding: 1rem;
}
.footer {
	margin-top: 150px;
}