h1, .h1 {
	font-size: 1.3rem !important;
}

h2, .h2 {
	font-size: 1.2rem !important;
}

h3, .h3 {
	font-size: 1.1rem !important;
}

h4, .h4 {
	font-size: 1rem !important;
}

h5, .h5 {
	font-size: 0.9rem !important;
}

h6, .h6 {
	font-size: 0.8rem !important;
}

p, li {
	font-size: 1.0rem !important;
}

.highlight {
	background-color: #666;
}