h1, .h1 {
	font-size: 1.3rem !important;
}

h2, .h2 {
	font-size: 1.2rem !important;
}

h3, .h3 {
	font-size: 1.1rem !important;
}

h4, .h4 {
	font-size: 1rem !important;
}

h5, .h5 {
	font-size: 0.9rem !important;
}

h6, .h6 {
	font-size: 0.8rem !important;
}

p, li {
	font-size: 1.0rem !important;
}

/* Code style */
pre {
	padding: 0.5em;
	font-size: 0.6em;	
}

.highlight {
	background-color: #23241f;
}

/* Add paragraph indent*/
p {
	text-indent: 2rem;
}

/* Contact page submit button */
.mobile-block {
	width: 100%;
}

textarea {
	resize: none;
}
/*Related post*/
.related-post-container {
	margin-top: 3rem;
}

.related-post-summary {
	font-size: 0.6rem !important;
	text-indent: 0;
}