<!DOCTYPE html>
<!-- 代码高亮 -->
<head>
  <link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet">  
  <script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
  <script >hljs.initHighlightingOnLoad();</script> 
</head>
<html>
{% include head.html %}
<body class="{% if site.animated %}animated fade-in-down{% endif %}">
  <div class="site-wrap">
    {% include header.html %}

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        {{ content }}
	{% if page.no_duoshuo %}
		<!-- we don't need duoshuo -->
	{% else %}	
	{% include duoshuo.html %}
      	{%endif%}
      </div>
    </div>
  </div>

  {% include footer.html %}
</body>
</html>
